*.o
*.la
*.lo
*.Plo
*.pc
*/.deps/
**/.libs/
autom4te.cache/
Makefile
Makefile.in
INSTALL
aclocal.m4
ar-lib
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
examples/felica-lite-dump
examples/felica-read-ndef
examples/mifare-classic-format
examples/mifare-classic-read-ndef
examples/mifare-classic-write-ndef
examples/mifare-desfire-access
examples/mifare-desfire-create-ndef
examples/mifare-desfire-ev1-configure-ats
examples/mifare-desfire-ev1-configure-default-key
examples/mifare-desfire-ev1-configure-random-uid
examples/mifare-desfire-format
examples/mifare-desfire-info
examples/mifare-desfire-read-ndef
examples/mifare-desfire-write-ndef
examples/mifare-ultralight-info
test/test-suite.log
test/run-test.sh.log
test/run-test.sh.trs
